tflight {
	display: inline-block;
	background: black;
	height: 300px;
	width: 100px;
}

tflight:first-of-type:hover circle:first-of-type {
	background: red;
}

tflight:nth-of-type(2):hover circle:nth-of-type(2) {
	background: yellow;
}

tflight:last-of-type:hover circle:last-of-type {
	background: green;
}

circle {
	display: block;
	background: gray;
	border-radius: 100%;
    height: 100px;
    width: 100px;
}